.body {
    display: flex;
    background-color: rgba(42,63,84,255);
    height: 100vh;
}
.paper {
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.form {
    width: 100%;
    margin-top: 3;
}
.submitButton {
    margin: 10px 0 0 0;
}
